#bannerContent > p {
	font-weight: 200;
}

img.teamspeakBanner {
	width: 50%;
	margin-top: 50px;
}

p.teamspeakBanner {
	font-size: 18px;
}

img.hostingBanner {
	width: 60%;
	margin-top: 50px;
}

p.hostingBanner {
	font-size: 22px;
}

img.twitterBanner {
	width: 50%;
	margin-top: 55px;
}

p.twitterBanner {
	font-size: 18px;
}

img.playlistBanner {
	width: 60%;
	margin-top: 30px;
}

p.playlistBanner {
	font-size: 22px;
}