#adContent > p {
	font-weight: 200;
}

img.teamspeakAd {
	width: 50%;
	margin-top: 50px;
}

p.teamspeakAd {
	font-size: 18px;
}

img.hostingAd {
	width: 60%;
	margin-top: 50px;
}

p.hostingAd {
	font-size: 22px;
}