body {
	background: url(../head/background.jpg);
	margin: 0px;
	font-family: Source Sans Pro, sans-serif;
}

#contentFrame {
	width: 100vw;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	
}

#content {
	background: #ccd7d9;
	border: 1px solid #829d8a;
	border-radius: 10px;
	margin: 280px 10% 100px 10%;
	padding: 20px 50px;
	/*===*/
	font-size: 20px;
}

.center {
	text-align: center;
	display: block;
}

h2 {
	margin: 0;
	text-align: center;
	position: relative;
	top: 50px;
	opacity: 0;
	transition: opacity 1s ease 1s, top 1s ease 1s;
	/*===*/
	font-size: 35px;
	font-weight: 700;
	color: #829d8a;
}

.divider {
	height: 1px;
	width: 100%;
	background: #829d8a;
	margin: 30px 0;
}

#h2Divider {
	width: 1px;
	transition: width 1s;
	margin: 0 auto;
}

.bannerImage {
	width: 100%;
	border-radius: 10px;
}

.bodyLink {
	color: #829d8a;
	text-decoration: none;
	transition: color 400ms;
}

.bodyLink:hover {
	color: #545a5c;
}

.imgDesc {
	text-align: center;
	font-size: 14px;
	font-style: oblique;
	color: #545a5c;
	margin: 0;
}