#adSpace {
	height: 300px;
	width: 250px;
	position: fixed;
	bottom: 10vh;
	right: -201px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #829d8a;
	/*background: #ccd7d9;*/
	background: url("../head/adspace_background.png");
	transition: right 1s;
}

#adSpaceDisplay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	background: rgba(130,157,138,0.5);
	cursor: pointer;
	transition: background 400ms;
}

#arrowTop, #arrowBottom {
	width: 25px;
	height: 7px;
	background: rgba(130,157,138,1);
	position: absolute;
	left: 12.5px;
	border-radius: 8px;
	cursor: pointer;
	transition: background 400ms, transform 400ms ease 1s;
}

#arrowTop {
	top: 140px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

#arrowBottom {
	bottom: 140px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#adContent {
	position: absolute;
	left: 50px;
	top: 0;
	width: 200px;
	height: 250px;
	text-align: center;
}

#adLinkWrapper {
	position: absolute;
	left: 50px;
	top: 250px;
	width: 200px;
	height: 50px;
}

#adLink {
	background: #829d8a;
	display: block;
	margin: 5px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	font-weight: 200;
	transition: background 400ms;
}

#adLink:hover {
	background: #838c8f;
}
