header {
	background: rgba(130,157,138,0.9);
	width: 100%;
	height: 240px;
	position: fixed;
	z-index: 1;
	user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	-moz-user-select: none;
	transition: height 400ms;
}

header.isScrolled {
	height: 80px;
}

img#logo {
	height: 168px;
	top: 36px;
	left: 8px;
	position: absolute;
	transition: height 400ms, top 400ms, left 400ms;
}

img#logo.isScrolled {
	height: 56px;
	top: 12px;
	left: 3px;
}

h1 {
	font-weight: 200;
	font-size: 72px;
	color: white;
	margin: 20px 0 0 0;
	text-align: center;
	cursor: default;
	transition: font-size 400ms, margin 400ms;
}

h1.isScrolled {
	font-size: 32px;
	text-align: left;
	margin: 20px 0 0 57px;
}

#headSocial1, #headSocial2 {
	height: 45px;
	width: 45px;
	position: absolute;
	right: 0;
	transition: right 400ms, top 400ms;
}

#headSocial1 {
	top: 75px;
}

#headSocial2 {
	top: 120px;
}

#headSocial1:hover, #headSocial2:hover {
	right: 10px;
}

#headSocial1.isScrolled, #headSocial2.isScrolled {
	top: 17.5px;
}

#headSocial1.isScrolled:hover, #headSocial2.isScrolled:hover {
	top: 23px;
}

#headSocial1.isScrolled {
	right: 10px;
}

#headSocial2.isScrolled {
	right: 65px;
}

#navButtons {
	position: absolute;
	bottom: 47px;
	width: 100%;
	text-align: center;
}
	
#navButtons > a {
	padding: 12px 20px;
	background: #838c8f;
	border-radius: 3px;
	margin-right: 5px;
	text-decoration: none;
	color: white;
	transition: background 400ms;
}

#navButtons > a:hover {
	background: black;
}

#navButtons > .selectedPage {
	background: #545a5c;
}

#navButtons.isScrolled {
	bottom: 30px;
}